<h1> TEST </h1>

<p>
<strong>Days: </strong>
<%= @activity_tracker.user.days %>
</p>
<br>
<p>
<strong>Reps: </strong>
<%= @activity_tracker.user.user_reps %>
<% end %>
</p>
<br>
<p>
      <strong>Challenge</strong>
      
</p>
  <br>
  <p>   
      <strong>This Weeks's Activity Rep Goal</strong>
<%= @activity_tracker.challenge.activity_rep %>
    </p>
     
